{% extends 'HD_base.html' %}
{% load static %}
{% block body %}

<div>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a class="text-underline-remove" href="{% url 'head_dashboard' %}">Dashboard</a></li>
          <li class="breadcrumb-item active text-md" aria-current="page">Client Creation</li>
        </ol>
      </nav>
</div>

<div class="row mt-1">
  <div class="col-12 grid-margin">
    <div class="card">
      <div class="card-body">
       
        {% if clients_obj %}

        <div class="row">
          <div class="col-sm-12 col-lg-4 col-md-4 col-xl-4  grid-margin">
            <h5 class="card-title custom-letter-spacing"> Registered Clients </h5>
          </div>
          <div class="col-sm-12 col-lg-6 col-md-6 col-xl-6 d-flex justify-content-end  grid-margin">
            <div class="d-flex ">
              <input  class="form-control text-offwhite mr-1" name="#" id="search-data" placeholder="search here..">
              <span class="text-danger mdi mdi-close" id="closeBtn" type="button"></span> 
            </div>
          </div>
          <div class="col-sm-12 col-lg-2 col-md-2 col-xl-2 d-flex justify-content-end  grid-margin">
            <button class="btn btn-outline-primary btn-icon-text" data-toggle="modal" data-target="#client-register">
              <i class="mdi mdi-account-plus btn-icon-prepend"></i><span class="small">Client Register</span>
            </button>
          </div>
        </div>


        <div class="table-responsive">
          <table class="table" id="client-table">
            <thead>
              <tr>
              
                <th> Edit/Remove</th>
                
                <th> Client Name </th>
                <th> Bussiness Name </th>
                <th> Reg. Date \ Bussiness Website </th>
                <th> Work Register </th>

              </tr>
            </thead>
            <tbody>
              {% for client in clients_obj %}
              <tr>
              
                <td>
                  <div class="d-flex">
                    
                    <a href="#" class="text-primary mr-2"  data-toggle="modal" data-target="#client-Edit{{client.id}}">
                      <span class="mdi mdi-pencil mdi-18px"></span>
                    </a>
                    <a href="{% url 'delete_client' client.id %}" class="text-danger" onclick="return confirm('Are you sure you want to delete this client?');">
                      <span class="mdi mdi-delete mdi-18px"></span>
                    </a>
                  </div>
                </td>
               
                <td>
                    <div class="preview-item d-flex justify-content-between">
                      <div class="preview-thumbnail mr-3 d-flex justify-content-center align-items-center">
                        {% if client.client_profile %}
                        <img src="{{client.client_profile.url}}" alt="Profile-image" class="rounded-circle" />
                        {% else %}
                        <img src="{% static 'images/faces/profile-icon.png' %}" alt="Profile-image" class="rounded-circle" />
                        {% endif %}
                      </div>
                      <div class="preview-item-content d-flex flex-grow">
                        <div class="flex-grow">
                          <div class="d-flex d-md-block d-xl-flex justify-content-start">
                            <h6 class="preview-subject">{{client.client_name}}</h6>
                          </div>
                          <p class="text-muted">{{ client.client_email_primary }}</p>
                          <p class="text-muted">{{ client.client_phone }}</p>
                        </div>
                      </div>
                    </div>
                  
                </td>
             
                <td>
                  <div class="preview-item d-flex justify-content-between">
                    <div class="preview-thumbnail mr-3 d-flex justify-content-center align-items-center">
                      {% if client.bussiness_logo %}
                      <img src="{{client.bussiness_logo.url}}" alt="Profile-image" class="rounded-circle" />
                      {% else %}
                      <img src="{% static 'images/faces/profile-icon.png' %}" alt="Profile-image" class="rounded-circle" />
                      {% endif %}
                    </div>
                    <div class="preview-item-content d-flex flex-grow">
                      <div class="flex-grow">
                        <div class="d-flex d-md-block d-xl-flex justify-content-start">
                          <h6 class="preview-subject">{{client.client_bussiness_name}}</h6>
                        </div>
                        <p class="text-muted">{{ client.client_bussiness_email_primary }}</p>
                        <p class="text-muted">{{ client.client_bussiness_phone }}</p>
                      </div>
                    </div>
                  </div>
                 
                </td>
                <td> 
                  <p>{{ client.client_reg_date }} \</p>
                  {{ client.client_bussiness_website }} 
                </td>
                <td> 
                  {% if client.work_reg_status == 1 %}
                  <a href="{% url 'head_registerWorks' %}" class="btn btn-outline-success btn-icon-text">
                    <i class="mdi mdi-check btn-icon-prepend"></i><span class="small">Work Registered</span>
                  </a>
                  {% else %}
                  <button class="btn btn-outline-warning btn-icon-text" data-toggle="modal" data-target="#client-work-register{{client.id}}">
                    <i class="mdi mdi-plus btn-icon-prepend"></i><span class="small">Create Work</span>
                  </button>
                  {% endif %}
                </td>
                
              
              </tr>
              {% endfor %}
             
            </tbody>
          </table>
        </div>
        {% else %}
        <div class="">
          <button class="btn btn-outline-primary btn-icon-text" data-toggle="modal" data-target="#client-register">
            <i class="mdi mdi-account-plus btn-icon-prepend"></i><span class="small">Client Register</span>
          </button>
          <div class="d-flex justify-content-center">
            <img src="{% static 'images\file-icons\no-data-file.png' %}">
          </div>
        </div>
        {% endif %}
                   
                    
      </div>
    </div>
  </div>
</div>



<!-- Client Details and Bussiness Details  Register Form modal -->

<div class="modal fade" id="client-register">
  <div class="modal-dialog modal-xl ">
    <div class="modal-content">
      <div class="card">
        <div class="card-head d-flex justify-content-between align-items-center mt-3 mb-0 ">
          <h4 class="card-title mt-3 ml-3">Client Register Form </h4>
          <span class="mdi mdi-close-box mdi-18px text-danger mr-2"  data-dismiss="modal"></span>
        </div>
        <div class="card-body mt-0" style="padding: 0.25rem 0.5625rem">
          <div class="row">
            <div class="col-md-12 col-xl-12 grid-margin stretch-card">
              <div class="card" id="schedule-add" >
                <div class="card-body">
                  <h5 class="card-title text-offwhite">Basic Information </h5>
                  <form action="{% url 'head_createClient' %}" method="post" enctype="multipart/form-data" >
                    {% csrf_token %} 
                    <div class="row mt-4">
                      <div class="col-sm-12 col-lg-4 col-md-12">
                        <div class="form-group add-items">
                          <label>Client Name *</label>
                          <input type="text" class="form-control  text-offwhite" name="cName"  placeholder="enter client fullname.." required>  
                        </div>
                      </div>
                      <div class="col-sm-12 col-lg-4 col-md-6">
                        <div class="form-group add-items">
                          <label>Email id *</label>
                          <input type="email" class="form-control  text-offwhite" name="cEmail_1"   placeholder="enter email id" required>  
                        </div>
                      </div>
                      <div class="col-sm-12 col-lg-4 col-md-6">
                        <div class="form-group add-items">
                          <label>Alternative email id </label>
                          <input type="email" class="form-control  text-offwhite" name="cEmail_2"  placeholder="enter email id">  
                        </div>
                      </div>
                      <div class="col-sm-12 col-lg-6 col-md-6">
                        <div class="form-group add-items">
                          <label>Phnone number * </label>
                          <input type="tel" class="form-control  text-offwhite" name="cPhno_1"  placeholder="enter phone number" required>  
                        </div>
                      </div>
                      <div class="col-sm-12 col-lg-6 col-md-6">
                        <div class="form-group add-items">
                          <label>Alternative phnone number </label>
                          <input type="tel" class="form-control  text-offwhite" name="cPhno_2"  placeholder="enter alternative phone number">  
                        </div>
                      </div>
                      <div class="col-sm-12 col-lg-4 col-md-6">
                        <div class="form-group add-items">
                          <label>Address line 1 </label>
                          <input type="text" class="form-control  text-offwhite" id="cAdd1" name="cAddress1"  placeholder="enter Address line " required>  
                        </div>
                      </div>
                      <div class="col-sm-12 col-lg-4 col-md-6">
                        <div class="form-group add-items">
                          <label>Address line 2 </label>
                          <input type="text" class="form-control  text-offwhite" name="cAddress2" id="cAdd2" placeholder="enter Address line " required>  
                        </div>
                      </div>
                      <div class="col-sm-12 col-lg-4 col-md-6">
                        <div class="form-group add-items">
                          <label>Address line 3 </label>
                          <input type="text" class="form-control  text-offwhite" name="cAddress3" id="cAdd3"  placeholder="enter Address line ">  
                        </div>
                      </div>
                      <div class="col-sm-12 col-lg-3 col-md-6">
                        <div class="form-group add-items">
                          <label>Place </label>
                          <input type="text" class="form-control  text-offwhite" name="cPlace" id="cloc"  placeholder="enter Place " required>  
                        </div>
                      </div>
                      <div class="col-sm-12 col-lg-3 col-md-6">
                        <div class="form-group add-items">
                          <label>District </label>
                          <input type="text" class="form-control  text-offwhite" name="cDistrict" id="cdist" placeholder="enter District " required>  
                        </div>
                      </div>
                      <div class="col-sm-12 col-lg-3 col-md-6">
                        <div class="form-group add-items">
                          <label>State </label>
                          <input type="text" class="form-control  text-offwhite" name="cState" id="cstate"  placeholder="enter State "required>  
                        </div>
                      </div>
                      <div class="col-sm-12 col-lg-3 col-md-6">
                        <div class="form-group add-items">
                          <label>Profile </label>
                          <input type="file" class="form-control  text-offwhite" name="cProfile" >  
                        </div>
                      </div>
                    </div>  

                    <div class="row mt-4">
                      <div class="col-sm-12 col-lg-12 col-md-12">
                        <div class="form-group add-items">
                          
                          <input type="checkbox" class=" text-offwhite mr-2" name="" id="copy-details">
                          <span class="small">Check if address is same</span> 
                        
                        </div>
                      </div>
                    </div>

                    <h5 class="card-title mt-2 text-offwhite">Bussiness Information </h5>

                    <div class="row mt-3">
                      <div class="col-sm-12 col-lg-4 col-md-12">
                        <div class="form-group add-items">
                          <label> Bussiness Name *</label>
                          <input type="text" class="form-control  text-offwhite" name="cBussinessName"  placeholder="enter bussiness name" required>  
                        </div>
                      </div>
                      <div class="col-sm-12 col-lg-4 col-md-6">
                        <div class="form-group add-items">
                          <label>Bussiness email id *</label>
                          <input type="email" class="form-control  text-offwhite" name="cBussinessEmail_1"  placeholder="enter email id" required>  
                        </div>
                      </div>
                      <div class="col-sm-12 col-lg-4 col-md-6">
                        <div class="form-group add-items">
                          <label>Alternative email id </label>
                          <input type="email" class="form-control  text-offwhite" name="cBussinessEmail_2"  placeholder="enter email id">  
                        </div>
                      </div>
                      <div class="col-sm-12 col-lg-4 col-md-6">
                        <div class="form-group add-items">
                          <label>Website URL</label>
                          <input type="url" class="form-control  text-offwhite" name="cBussinessUrl"  placeholder="enter website url">  
                        </div>
                      </div>
                      <div class="col-sm-12 col-lg-4 col-md-6">
                        <div class="form-group add-items">
                          <label>Phnone number </label>
                          <input type="tel" class="form-control  text-offwhite" name="cBussinessPhno_1"  placeholder="enter phone number" required>  
                        </div>
                      </div>
                      <div class="col-sm-12 col-lg-4 col-md-6">
                        <div class="form-group add-items">
                          <label>Alternative phnone number </label>
                          <input type="tel" class="form-control  text-offwhite" name="cBussinessPhno_2"  placeholder="enter alternative phone number">  
                        </div>
                      </div>
                      <div class="col-sm-12 col-lg-4 col-md-6">
                        <div class="form-group add-items">
                          <label> Bussiness Address line 1 </label>
                          <input type="text" class="form-control  text-offwhite" id="cbAdd1" name="cBussinessAddress_1"  placeholder="enter Address line" required>  
                        </div>
                      </div>
                      <div class="col-sm-12 col-lg-4 col-md-6">
                        <div class="form-group add-items">
                          <label>Bussiness Address line 2 </label>
                          <input type="text" class="form-control  text-offwhite" name="cBussinessAddress_2" id="cbAdd2" placeholder="enter Address line " required>  
                        </div>
                      </div>
                      <div class="col-sm-12 col-lg-4 col-md-6">
                        <div class="form-group add-items">
                          <label> Bussiness Address line 3 </label>
                          <input type="text" class="form-control  text-offwhite" name="cBussinessAddress_3" id="cbAdd3"  placeholder="enter Address line ">  
                        </div>
                      </div>
                      <div class="col-sm-12 col-lg-3 col-md-6">
                        <div class="form-group add-items">
                          <label>Location </label>
                          <input type="text" class="form-control  text-offwhite" name="cBussinessLoc" id="cbloc"  placeholder="enter location " required>  
                        </div>
                      </div>
                      <div class="col-sm-12 col-lg-3 col-md-6">
                        <div class="form-group add-items">
                          <label>District </label>
                          <input type="text" class="form-control  text-offwhite" name="cBussinessDistrict" id="cbdist"  placeholder="enter District" required>  
                        </div>
                      </div>
                      <div class="col-sm-12 col-lg-2 col-md-6">
                        <div class="form-group add-items">
                          <label>State </label>
                          <input type="text" class="form-control text-offwhite" name="cBussinessState" id="cbstate"  placeholder="enter State " required>  
                        </div>
                      </div>
                      <div class="col-sm-12 col-lg-2 col-md-6">
                        <div class="form-group add-items">
                          <label>Logo </label>
                          <input type="file" class="form-control  text-offwhite" name="cBussinessLogo" >  
                        </div>
                      </div>
                      <div class="col-sm-12 col-lg-2 col-md-6">
                        <div class="form-group add-items">
                          <label>File </label>
                          <input type="file" class="form-control  text-offwhite" name="cBussinessFile" >  
                        </div>
                      </div>
                      <div class="col-sm-12 col-lg-12 col-md-12">
                        <div class="form-group add-items">
                          <label>More about </label>
                          <textarea class="to-do-textarea  text-offwhite" name="moreAbout"  placeholder="enter more about">  </textarea>
                        </div>
                      </div>
                    </div>
                  
                    <div class="add-items d-flex justify-content-center ">
                      <button class=" btn btn-outline-secondary " type="reset">
                        <span class="mdi mdi-refresh  "></span>
                        <span class="small">Clear</span>
                      </button> 
                      <button class=" btn btn-outline-success " type="submit">
                        <span class="mdi mdi-check small"></span>
                        <span class="small">Register</span>
                      </button> 
                      <button class=" btn btn-outline-danger " data-dismiss="modal" type="button">
                          <span class="mdi mdi-close  small"></span>
                          <span class="small">Close</span>
                      </button> 
                    </div>
                  </form>  
                </div>
            </div>  
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- End Form -->



<!-- Client Edit Details Form modal -->

{% for client in clients_obj %}
<div class="modal fade" id="client-Edit{{client.id}}">
  <div class="modal-dialog modal-xl ">
    <div class="modal-content">
      <div class="card">
        <div class="card-head d-flex justify-content-between align-items-center mt-3 mb-0 ">
          <h4 class="card-title mt-3 ml-3">Client Edit Form </h4>
          <span class="mdi mdi-close-box mdi-18px text-danger mr-2"  data-dismiss="modal"></span>
        </div>
        <div class="card-body mt-0" style="padding: 0.25rem 0.5625rem">
          <div class="row">
            <div class="col-md-12 col-xl-12 grid-margin stretch-card">
              <div class="card" id="#" >
                <div class="card-body">
                  <form action="{% url 'head_clientEdit' client.id %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="row">
                      <div class="col-xl-6 col-sm-6 grid-margin">
                        <h5 class="card-title text-offwhite">Basic Information </h5>
                        <input type="hidden" value="{{client.id}}" name="client_ID">
                        <div class="row mt-4">
                          <div class="col-sm-12 col-lg-2 col-md-12">
                              {% if client.client_profile %}
                              <img src="{{client.client_profile.url}}" style="border-radius: 50%;" height="60px;" width="60px;" alt="Profile-image" />
                              {% else %}
                              <img src="{% static 'images/faces/profile-icon.png' %}" height="60px;" width="60px;" alt="Profile-image" />
                              {% endif %}
                          </div>
                          <div class="col-sm-12 col-lg-10 col-md-12">
                            <div class="form-group add-items">
                              <label>Client Name *</label>
                              <input type="text" class="form-control  text-offwhite" name="cName" value="{{client.client_name}}" required>  
                            </div>
                          </div>
                          <div class="col-sm-12 col-lg-6 col-md-6">
                            <div class="form-group add-items">
                              <label>Email id *</label>
                              <input type="email" class="form-control  text-offwhite" name="cEmail_1" value="{{client.client_email_primary}}" required>  
                            </div>
                          </div>
                          <div class="col-sm-12 col-lg-6 col-md-6">
                            <div class="form-group add-items">
                              <label>Alternative email id </label>
                              <input type="email" class="form-control  text-offwhite" name="cEmail_2"  value="{{client.client_email_alter}}" >  
                            </div>
                          </div>
                          <div class="col-sm-12 col-lg-6 col-md-6">
                            <div class="form-group add-items">
                              <label>Phnone number </label>
                              <input type="tel" class="form-control  text-offwhite" name="cPhno_1" value="{{client.client_phone}}"   required>  
                            </div>
                          </div>
                          <div class="col-sm-12 col-lg-6 col-md-6">
                            <div class="form-group add-items">
                              <label>Alternative phnone number </label>
                              <input type="tel" class="form-control  text-offwhite" name="cPhno_2"  value="{{client.client_phone_alter}}">  
                            </div>
                          </div>
                          <div class="col-sm-12 col-lg-6 col-md-6">
                            <div class="form-group add-items">
                              <label>Address line 1 </label>
                              <input type="text" class="form-control  text-offwhite" id="cAdd1" name="cAddress1" value="{{client.client_address1}}" required>  
                            </div>
                          </div>
                          <div class="col-sm-12 col-lg-6 col-md-6">
                            <div class="form-group add-items">
                              <label>Address line 2 </label>
                              <input type="text" class="form-control  text-offwhite" name="cAddress2" id="cAdd2" value="{{client.client_address2}}" required>  
                            </div>
                          </div>
                          <div class="col-sm-12 col-lg-6 col-md-6">
                            <div class="form-group add-items">
                              <label>Address line 3 </label>
                              <input type="text" class="form-control  text-offwhite" name="cAddress3" id="cAdd3" value="{{client.client_address3}}">  
                            </div>
                          </div>
                          <div class="col-sm-12 col-lg-6 col-md-6">
                            <div class="form-group add-items">
                              <label>Place </label>
                              <input type="text" class="form-control  text-offwhite" name="cPlace" id="cloc"  value="{{client.client_place}}" required>  
                            </div>
                          </div>
                          <div class="col-sm-12 col-lg-6 col-md-6">
                            <div class="form-group add-items">
                              <label>District </label>
                              <input type="text" class="form-control  text-offwhite" name="cDistrict" id="cdist" value="{{client.client_district}}" required>  
                            </div>
                          </div>
                          <div class="col-sm-12 col-lg-6 col-md-6">
                            <div class="form-group add-items">
                              <label>State </label>
                              <input type="text" class="form-control  text-offwhite" name="cState" id="cstate" value="{{client.client_state}}" required>  
                            </div>
                          </div>
                          <div class="col-sm-12 col-lg-12 col-md-6">
                            <div class="form-group add-items">
                              <label>Profile </label>
                              <input type="file" class="form-control  text-offwhite" name="cProfile" >  
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-xl-6 col-sm-6 grid-margin ">
                        <h5 class="card-title text-offwhite">Bussiness Information </h5>
                        <div class="row mt-3">
                          <div class="col-sm-12 col-lg-2 col-md-12">
                              {% if client.bussiness_logo %}
                              <img src="{{client.bussiness_logo.url}}" style="border-radius: 50%;" height="60px;" width="60px;" alt="Profile-image" />
                              {% else %}
                              <img src="{% static 'images/faces/profile-icon.png' %}" height="60px;" width="60px;" alt="Profile-image" />
                              {% endif %}
                          </div>
                          <div class="col-sm-12 col-lg-5 col-md-12">
                            <div class="form-group add-items">
                              <label> Bussiness Name *</label>
                              <input type="text" class="form-control  text-offwhite" name="cBussinessName" value="{{client.client_bussiness_name}}" required>  
                            </div>
                          </div>
                          <div class="col-sm-12 col-lg-5 col-md-6">
                            <div class="form-group add-items">
                              <label>Bussiness email id *</label>
                              <input type="email" class="form-control  text-offwhite" name="cBussinessEmail_1" value="{{client.client_bussiness_email_primary}}"  required>  
                            </div>
                          </div>
                          <div class="col-sm-12 col-lg-6 col-md-6">
                            <div class="form-group add-items">
                              <label>Alternative email id </label>
                              <input type="email" class="form-control  text-offwhite" name="cBussinessEmail_2" value="{{client.client_bussiness_email_alter}}" >  
                            </div>
                          </div>
                          <div class="col-sm-12 col-lg-6 col-md-6">
                            <div class="form-group add-items">
                              <label>Website URL</label>
                              <input type="url" class="form-control  text-offwhite" name="cBussinessUrl" value="{{client.client_bussiness_website}}"  >  
                            </div>
                          </div>
                          <div class="col-sm-12 col-lg-6 col-md-6">
                            <div class="form-group add-items">
                              <label>Phnone number </label>
                              <input type="tel" class="form-control  text-offwhite" name="cBussinessPhno_1" value="{{client.client_bussiness_phone}}" required>  
                            </div>
                          </div>
                          <div class="col-sm-12 col-lg-6 col-md-6">
                            <div class="form-group add-items">
                              <label>Alternative phnone number </label>
                              <input type="tel" class="form-control  text-offwhite" name="cBussinessPhno_2" value="{{client.client_bussiness_phone_alter}}" >  
                            </div>
                          </div>
                          <div class="col-sm-12 col-lg-6 col-md-6">
                            <div class="form-group add-items">
                              <label> Bussiness Address line 1 </label>
                              <input type="text" class="form-control  text-offwhite" id="cbAdd1" name="cBussinessAddress_1" value="{{client.client_bussiness_address1}}" required>  
                            </div>
                          </div>
                          <div class="col-sm-12 col-lg-6 col-md-6">
                            <div class="form-group add-items">
                              <label>Bussiness Address line 2 </label>
                              <input type="text" class="form-control  text-offwhite" name="cBussinessAddress_2" id="cbAdd2" value="{{client.client_bussiness_address2}}"  required>  
                            </div>
                          </div>
                          <div class="col-sm-12 col-lg-6 col-md-6">
                            <div class="form-group add-items">
                              <label> Bussiness Address line 3 </label>
                              <input type="text" class="form-control  text-offwhite" name="cBussinessAddress_3" id="cbAdd3" value="{{client.client_bussiness_address3}}" >  
                            </div>
                          </div>
                          <div class="col-sm-12 col-lg-6 col-md-6">
                            <div class="form-group add-items">
                              <label>Location </label>
                              <input type="text" class="form-control  text-offwhite" name="cBussinessLoc" id="cbloc" value="{{client.client_bussiness_place}}" required>  
                            </div>
                          </div>
                          <div class="col-sm-12 col-lg-6 col-md-6">
                            <div class="form-group add-items">
                              <label>District </label>
                              <input type="text" class="form-control  text-offwhite" name="cBussinessDistrict" id="cbdist" value="{{client.client_bussiness_district}}" required>  
                            </div>
                          </div>
                          <div class="col-sm-12 col-lg-6 col-md-6">
                            <div class="form-group add-items">
                              <label>State </label>
                              <input type="text" class="form-control text-offwhite" name="cBussinessState" id="cbstate" value="{{client.client_bussiness_state}}" required>  
                            </div>
                          </div>
                          <div class="col-sm-12 col-lg-5 col-md-6">
                            <div class="form-group add-items">
                              <label>Logo </label>
                              <input type="file" class="form-control  text-offwhite" name="cBussinessLogo" >  
                            </div>
                          </div>
                          <div class="col-sm-12 col-lg-5 col-md-6">
                            <div class="form-group add-items">
                              <label>File </label>
                              <input type="file" class="form-control  text-offwhite" name="cBussinessFile" >  
                            </div>
                          </div>
                          <div class="col-sm-12 col-lg-2 col-md-6">
                            {% if client.client_bussiness_file %}
                            <div class="form-group">
                            <label  class="text-muted  small">Download </label>
                              <a href="{{client.client_bussiness_file.url}}" class="btn btn-danger" download="{{client.client_bussiness_file.url}}" >
                                <span class="mdi mdi-download mdi-18px"></span>
                              </a>
                            </div>
                            {% endif %}
                          </div>
                        </div>
                      </div>

                      <div class="col-sm-12 col-xl-12 grid-margin">
                        <div class="form-group add-items">
                          <label>Anything more about client or bussinees ? </label>
                          <textarea class="to-do-textarea  text-offwhite" name="moreAbout" value="{{client.more_discription}}" placeholder="enter more about">  </textarea>
                        </div>
                      </div>

                    </div>
                    <div class="add-items d-flex justify-content-center ">
                      <button class=" btn btn-outline-primary " type="submit">
                        <span class="mdi mdi-pencil small"></span>
                        <span class="small">Edit</span>
                      </button> 
                      <button class=" btn btn-outline-danger " data-dismiss="modal" type="button">
                          <span class="mdi mdi-close  small"></span>
                          <span class="small">Close</span>
                      </button> 
                    </div>
                  </form>
                </div>
              </div>   
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endfor %}


<!-- End Form -->


<!-- Client Work Details  Register Form modal -->

{% for client in clients_obj %}
<div class="modal fade" id="client-work-register{{client.id}}">
  <div class="modal-dialog modal-md ">
    <div class="modal-content">
      <div class="card">
        <div class="card-head d-flex justify-content-between align-items-center mt-3 mb-0 ">
          <h4 class="card-title mt-3 ml-3">Work Register Form </h4>
          <span class="mdi mdi-close-box mdi-18px text-danger mr-2"  data-dismiss="modal"></span>
        </div>
        <div class="card-body mt-0" style="padding: 0.25rem 0.5625rem">
          <div class="row">

            <div class="col-md-12 col-xl-12 grid-margin stretch-card">
              <div class="card" id="schedule-add" >
                <div class="card-body">
                    <form action="{% url 'head_createWork' %}" method="post" enctype="multipart/form-data">
  
                        {% csrf_token %}
                        
                        <div class="row">
                          <div class="col-sm-12 col-lg-12 col-md-12">
                            <div class="form-group add-items">
                              <label> Client name *</label>
                              <input type="text" class="form-control  text-offwhite" value="{{client.client_name}}" name="#" required> 
                              <input type="hidden" class="form-control  text-offwhite" value="{{client.id}}" name="clientId" required>   
                            </div>
                          </div>
                          <div class="col-sm-12 col-lg-12 col-md-12">
                            <div class="form-group add-items">
                              <label> Bussiness name *</label>
                              <input type="text" class="form-control  text-offwhite" value="{{client.client_bussiness_name}}" name="#" required> 
                            </div>
                          </div>
                        </div>
                          
  
                        <h6 class="card-title mt-3 text-offwhite">Pick your work dates </h6>
                        <div class="row">
                                       
                          <div class="col-sm-12 col-lg-6 col-md-6">
                            <div class="form-group add-items">
                              <label>Start Date</label>
                              <input type="date" class="form-control  text-offwhite" name="start_date" required>  
                            </div>
                          </div>
                          <div class="col-sm-12 col-lg-6 col-md-6">
                            <div class="form-group add-items">
                              <label> Due date</label>
                              <input type="date" class="form-control  text-offwhite" name="end_date">  
                            </div>
                          </div>
                        </div>

                        <h6 class="card-title mt-3 text-offwhite">Check client requirements </h6>
                        <div class="row" id="taskDiv">
                          {% for task in Tasks %}
                          <div class="col-sm-12 col-lg-6 col-md-6">
                            <div class="form-check mb-2">
                              <label class="form-check-label">
                                  <input type="checkbox" class="form-check-input" name="task_name" value="{{task.task_name}}">{{task.task_name}}
                              </label>
                            </div>
                          </div>
                          {% endfor %}
                        </div>
                        
                        <div class="add-items d-flex justify-content-between align-items-center ">
                          <p class="text-muted mt-3 sm-text">*Note: if you need to add any additional task click on  </p>
                          <button class=" btn btn-outline-danger " type="button" id="add-taskBox">
                            <span class="mdi mdi-plus mdi-18px"></span>
                          </button> 
                        </div>
  
                        <!-- Adding an input filed to  add task-->
                        <div class="add-items d-flex">
                          <input  class="form-control text-offwhite"
                            name="#" id="task-inputBox" style="display: none;"
                             placeholder="enter new task..">
                        </div>
  
                        <div class="row mt-3">
                          <div class="col-sm-12 col-lg-12 col-md-12">
                            <div class="form-group add-items">
                              <label>File</label>
                              <input type="file" class="form-control  text-offwhite" name="work_file">  
                            </div>
                          </div>
                          <div class="col-sm-12 col-lg-12 col-md-12">
                            <div class="form-group add-items mt-3">
                              <label>More about work</label>
                              <textarea class="to-do-textarea  text-offwhite" name="work_discription"  placeholder="enter more about">  </textarea>
                            </div>
                          </div>
                        </div>
                       
                        <div class="add-items d-flex justify-content-center ">
                          <button class=" btn btn-outline-secondary " type="reset">
                            <span class="mdi mdi-refresh  "></span>
                            <span class="small">Clear</span>
                          </button> 
                          <button class=" btn btn-outline-success " type="submit">
                            <span class="mdi mdi-check small"></span>
                            <span class="small">Create</span>
                          </button> 
                          <button class=" btn btn-outline-danger " data-dismiss="modal" type="button">
                              <span class="mdi mdi-close  small"></span>
                              <span class="small">Close</span>
                          </button> 
                        </div>
    
                       
                    </form>  
                </div>
            </div> 
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endfor %}


<!-- End Form -->

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
  $(document).ready(function() {
    $('#copy-details').change(function() {
      if ($(this).is(':checked')) {
        $('#cbAdd1').val($('#cAdd1').val());
        $('#cbAdd2').val($('#cAdd2').val());
        $('#cbAdd3').val($('#cAdd3').val());
        $('#cbloc').val($('#cloc').val());
        $('#cbdist').val($('#cdist').val());
        $('#cbstate').val($('#cstate').val());
      } else {
        $('#cbAdd1').val('');
      }
    });
  });
</script>


<!-- Script to add task for client work register-->

<script>
  $(document).ready(function() {
    $('#add-taskBox').click(function() {
      $('#task-inputBox').toggle();
      $(this).find('span').toggleClass('mdi-plus mdi-minus');
    });
  });


  /*  adding new coloumn to taskDiv  */

  $(document).ready(function() {
    $('#task-inputBox').on('keypress', function(event) {
      if (event.which === 13) {  // Check if Enter key is pressed
        event.preventDefault();  // Prevent the default form submission
        var taskInput = $(this).val();
        if (taskInput.trim() !== '') {
          var newTask = `
            <div class="col-sm-12 col-lg-6 col-md-6 task-column">
              <div class="form-check form-check mb-2" >
                <input type="checkbox" class="form-check-input" name="task_name" value="${taskInput}" id="task${taskInput}" >
                <label class="form-check-label" for="task${taskInput}">
                  ${taskInput}
                </label>
                <button class="btn btn-outline-danger btn-sm remove-task mt-2">
                  -
                </button>
              </div>
            </div>`;
          $('#taskDiv').append(newTask);
          $(this).val('');  // Clear the input after adding the task
        }
      }
    });

    // Remove task column when remove button is clicked
    $('#taskDiv').on('click', '.remove-task', function() {
      $(this).closest('.task-column').remove();
    });
  });
</script>

<!-- End Script -->

<script>
   
  const inputField = document.getElementById('search-data');
  const closeBtn = document.getElementById('closeBtn');
  const empTable = document.getElementById('client-table');
  closeBtn.style.display = 'none';

  inputField.addEventListener('input', function() {
      filterTable();
  });

  function filterTable() {
      const filterValue = inputField.value.toLowerCase();
      const rows = empTable.getElementsByTagName('tr');

      for (let i = 1; i < rows.length; i++) {
          const Cell1 = rows[i].getElementsByTagName('td')[1];
          const Cell2 = rows[i].getElementsByTagName('td')[2];
          const Cell3 = rows[i].getElementsByTagName('td')[3];
          const Cell4 = rows[i].getElementsByTagName('td')[4];
          const Cell5 = rows[i].getElementsByTagName('td')[5];
         

          if (Cell1 || Cell2 || Cell3 || Cell4|| Cell5 ) {

              const datacell1 = Cell1.textContent || Cell1.innerText;
              const datacell2 = Cell2.textContent || Cell2.innerText;
              const datacell3 = Cell3.textContent || Cell3.innerText;
              const datacell4 = Cell4.textContent || Cell4.innerText;
              const datacell5 = Cell5.textContent || Cell5.innerText;
            
              

              if (datacell1.toLowerCase().includes(filterValue) || datacell2.toLowerCase().includes(filterValue) || datacell3.toLowerCase().includes(filterValue)
              || datacell4.toLowerCase().includes(filterValue) || datacell5.toLowerCase().includes(filterValue) ) 
              {
                  rows[i].style.display = '';
              } else {
                  rows[i].style.display = 'none';
              }
          }
      }
  }

   // To display the close button and hide the close button based on the search input 
  inputField.addEventListener('input', function() {
  if (inputField.value == '') {
      closeBtn.style.display = 'none';
     
  } else {
      closeBtn.style.display = 'block';
      
  }
  });

  closeBtn.addEventListener('click', function() {
  inputField.value = '';
  closeBtn.style.display = 'none';
  filterTable(); // Display the full table data
  });
</script>



{% endblock %}