{% extends 'HD_base.html' %}
{% load static %}
{% block body %}


  
  <div class="row">
    <div class="col-sm-4 grid-margin">
      <a href="{% url 'head_createClient' %}" class="text-white text-decoration-none">
        <div class="card">
          <div class="card-body">
            <h5> Clients</h5>
            <div class="row">
              <div class="col-8 col-sm-12 col-xl-9 my-auto">
                <div class="d-flex d-sm-block d-md-flex align-items-center">
                  <h2 class="mb-0 ">{{ client_count }}</h2>
                  <!-- <p class="text-success ml-2 mb-0 font-weight-medium"></p> -->
                </div>
                <h6 class="text-muted font-weight-normal"> Clients are doing business with us</h6>
              </div>
              <div class="col-4 col-sm-12 col-xl-3 text-center text-xl-right">
                <i class="icon-lg mdi mdi-account-card-details text-danger ml-auto"></i>
              </div>
            </div>
          </div>
        </div>
      </a>
    </div>
    <div class="col-sm-4 grid-margin">
      <a href="{% url 'head_registerWorks' %}" class="text-white text-decoration-none">
        <div class="card">
          <div class="card-body">
            <h5>Works</h5>
            <div class="row">
              <div class="col-8 col-sm-12 col-xl-9 my-auto">
                <div class="d-flex d-sm-block d-md-flex align-items-center">
                  <h2 class="mb-0">{{ work_count }}</h2>
                  <!-- <p class="text-success ml-2 mb-0 font-weight-medium">+3.5%</p> -->
                </div>
                <h6 class="text-muted font-weight-normal">Number of work registered with us</h6>
              </div>
              <div class="col-4 col-sm-12 col-xl-3 text-center text-xl-right">
                <i class="icon-lg mdi mdi-codepen text-primary ml-auto"></i>
              </div>
            </div>
          </div>
        </div>
      </a>
    </div>
    
    <div class="col-sm-4 grid-margin">
      <a href="{% url 'head_viewEmployees' %}" class="text-white text-decoration-none">
        <div class="card">
          <div class="card-body">
            <h5>Employees</h5>
            <div class="row">
              <div class="col-8 col-sm-12 col-xl-9 my-auto">
                <div class="d-flex d-sm-block d-md-flex align-items-center">
                  <h2 class="mb-0">{{ employee_count }}</h2>
                  <!-- <p class="text-danger ml-2 mb-0 font-weight-medium"> </p> -->
                </div>
                <h6 class="text-muted font-weight-normal">Employees are working for us</h6>
              </div>
              <div class="col-4 col-sm-12 col-xl-3 text-center text-xl-right">
                <i class="icon-lg mdi mdi-account-multiple text-success ml-auto"></i>
              </div>
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>
  
 

{% endblock %}
