{% extends 'HD_base.html' %}
{% load static %}
{% block body %}

<div>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a class="text-underline-remove" href="{% url 'head_dashboard' %}">Dashboard</a></li>
          <li class="breadcrumb-item active text-md" aria-current="page">Employee Works</li>
        </ol>
      </nav>
</div>

<div class="row">
  <div class="col-12 grid-margin">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-md-6 col-sm-12 col-lg-6">
            <h4 class="card-title">List of works</h4>
            <p class="card-description"> A list of works that employee work on for different clients </p>
          </div>
          <div class="col-md-6 col-sm-12 col-lg-6">
            <form action="{% url 'head_workAllocate' %}" method="post"  enctype="multipart/form-data">
              {% csrf_token %}
              <div class="form-group add-items"> 
                <input type="hidden" value="{{work.id}}"  name="Work_id">
                  <label>Employees</label>
                  <select class="form-control text-offwhite" name="selected_tl" id="#" required>
                    <option value="">--- select employee --- </option>
                    {% for emp in employees %}
                    <option value="{{emp.id}}">{{emp.emp_name}}</option>
                    {% endfor %}
                  </select>  
                   
              </div>
              <div class="add-items d-flex justify-content-center ">
                <button class=" btn btn-outline-primary " type="submit"><span class="mdi mdi-magnify"></span></button> 
            </div>
            </form>
          </div>
        </div>
      
        <div class="row">
          <div class="col-md-6">
            <h6 class="card-title">In progress</h6>
            <div id="dragula-left" class="py-2">
              {% for pending in work_pending_obj %}
              <div class="card blockquote-primary mb-2">
                <div class="card-body p-3">
                  <div class="media">
                    <i class="mdi mdi-file-outline icon-sm align-self-center me-3"></i>
                    <div class="media-body ml-3">
                      <h6 class="mb-1">{{ pending.clientId.client_name }}</h6>
                      <p class="mb-0 text-muted"> Build wireframe for the new app </p>
                    </div>
                  </div>
                </div>
              </div>
              {% endfor %}
              
            </div>
          </div>
         
          <div class="col-md-6">
            <h6 class="card-title">Completed</h6>
            <div id="dragula-right" class="py-2">
              {% for complete in work_complete_obj %}
              <div class="card blockquote-success mb-2">
                <div class="card-body p-3">
                  <div class="media">
                    <i class="mdi mdi-file-outline icon-sm align-self-center me-3"></i>
                    <div class="media-body ml-3">
                      <h6 class="mb-1">{{ complete.clientId.client_name }}</h6>
                      <p class="mb-0 text-muted"> Get new project details from Greg </p>
                    </div>
                  </div>
                </div>
              </div>
              {% endfor %}
              <!-- <div class="card rounded border mb-2">
                <div class="card-body p-3">
                  <div class="media">
                    <i class="mdi mdi-apps icon-sm align-self-center me-3"></i>
                    <div class="media-body">
                      <h6 class="mb-1">Leave approval</h6>
                      <p class="mb-0 text-muted"> Approve leaves for Mike </p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card rounded border mb-2">
                <div class="card-body p-3">
                  <div class="media">
                    <i class="mdi mdi-bank icon-sm align-self-center me-3"></i>
                    <div class="media-body">
                      <h6 class="mb-1">Make reservations at hotel</h6>
                      <p class="mb-0 text-muted"> Book rooms for vacation </p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card rounded border mb-2">
                <div class="card-body p-3">
                  <div class="media">
                    <i class="mdi mdi-calendar icon-sm align-self-center me-3"></i>
                    <div class="media-body">
                      <h6 class="mb-1">Meeting with client</h6>
                      <p class="mb-0 text-muted"> New project meeting </p>
                    </div>
                  </div>
                </div>
              </div> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



{% endblock %}