{% extends 'Executive_base.html' %}
{% load static %}
{% block body %}

<div>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a class="text-underline-remove" href="{% url 'executive_worksection' %}">Works</a></li>
            <li class="breadcrumb-item active text-md" aria-current="page">Ongoing Works</li>
        </ol>
    </nav>
</div>

<div class="row">
  <div class="col-sm-12 grid-margin">
      
    <div class="card">
      <div class="card-body">
        <h5>Task details</h5>
        <div class="add-items d-flex mt-4 ">
      
          <input  class="form-control text-offwhite" name="#" id="search-data" placeholder="search here..">
          <button class="btn btn-outline-danger mdi mdi-close" id="closeBtn" type="button"></button> 
        </div>
        <div class="row mt-3">
          <div class="table-responsive">
            <table class="table" id="task-details">
              <thead>
                <th>No</th>
                <th>Task Name</th>
                <th>Start date</th>
                <th>End date</th>
                <th>Accepted date</th>
                <th>Task Details</th>
                <th>Add Daily Work</th>
                <th>View Daily Works</th>
                <th>Progress</th>
                <th>Action</th>
  
              </thead>
              {% for task in tasks %}
              <tbody>
                <td>{{forloop.counter}}</td>
                <td>{{task.ta_taskId.task_name}}</td>
                <td>{{task.ta_start_date|date:"Y-m-d"}}</td>
                <td>{{task.ta_due_date|date:"Y-m-d"}}</td>
                <td>{{task.ta_accept_date|date:"Y-m-d" }}</td>
                <td>
                  <div class="btn btn-outline-primary" data-toggle="modal" data-target="#details{{task.id}}">View</div>
                </td>
                <td>
                  {% if task.ta_taskId.task_name == 'Lead Collection' %}
                  <a class="btn btn-outline-primary" href="{% url 'executive_ongoingwork_dailyworkadd_lead' task.id %}" >Add</a>
                  {% else %}
                  <a class="btn btn-outline-primary" href="{% url 'executive_ongoingwork_dailyworkadd' task.id %}" >Add</a>
                  {% endif %}
                </td>
                <td>
                  <a class="btn btn-outline-primary" href="{% url 'executive_ongoingwork_dailyworks' task.id %}">View</a>
                </td>
                <td>
                  <div class="progress progress-lg rounded"data-toggle="modal" data-target="#updateProgressModal{{task.id}}">
                    <div class="progress-bar bg-primary progress-bar-animated progress-bar-striped"
                      role="progressbar"
                      aria-valuenow="{{ task.ta_progress }}"
                      style="width: {{ task.ta_progress }}%"
                      aria-valuemin="0"
                      aria-valuemax="100">{{ task.ta_progress }} %
                    </div>
                  </div>
                
                <td>
                  <a href="{% url 'executive_ongoingwork_complete' task.id %}"><button type="button" id="acceptbtn" class="btn btn-outline-success">Complete</button></a>
                </td>
              </tbody> 
              {% endfor %}
            </table>
          </div>
        
            
        </div>

          
      </div>



    </div>
      
  </div>
   
</div>

<!-- Modal for updating progress -->
{% for task in tasks %}
<div class="modal fade" id="updateProgressModal{{task.id}}" tabindex="-1" role="dialog" aria-labelledby="updateProgressModalLabel" aria-hidden="true">
  <div class="modal-dialog  modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="card">
        <div class="card-head d-flex justify-content-between align-items-center mt-3 mb-0 ">
          <h4 class="card-title mt-3 ml-3"> Task Progress </h4>
          <span class="mdi mdi-close-box mdi-18px text-danger mr-2"  data-dismiss="modal"></span>
        </div>
        
        <div class="card-body mt-0">

          <form action="{% url 'executive_ongoingwork_progress' task.id %}" method="post"  enctype="multipart/form-data">
            
            {% csrf_token %}
            <div class="row">
              <div class="col-xl-12 col-sm-12 grid-margin ">
                <div class="card" >
                    
                  <div class="card-body">
                    <div class="modal-body">
                      <!-- Include a form to update progress here -->
                      <form id="updateProgressForm">
                          {% csrf_token %}
                          <div class="form-group">
                            <label for="newProgress">New Progress (%)</label>
                            <input type="number" class="form-control text-white" id="newProgress" name="newProgress" min="0" max="100" required>
                          </div>
                          <button type="submit" class="btn btn-primary">Save Progress</button>
                      </form>
                  </div>
                      
                  </div>
                </div>
              </div>
                
            </div>            
        
          </form>

        </div>

      </div>

    </div>
  </div>
</div>
{% endfor %}


<!-- Modal for task details starts -->
{% for task in tasks %}    
<div class="modal fade" id="details{{task.id}}">
  <div class="modal-dialog  modal-dialog-centered">
    <div class="modal-content">

      <div class="card">
        <div class="card-head d-flex justify-content-between align-items-center mt-3 mb-0 ">
          <h4 class="card-title mt-3 ml-3">Task Details </h4>
          <span class="mdi mdi-close-box mdi-18px text-danger mr-2"  data-dismiss="modal"></span>
        </div>
        
        <div class="card-body mt-0">

          <form action="" method="post"  enctype="multipart/form-data">
            
            {% csrf_token %}
            <div class="row">
              <div class="col-xl-12 col-sm-12 grid-margin ">
                <div class="card" >
                    
                  <div class="card-body">
                    <div class="row">
                        <div class="col-sm-12 col-lg-12 col-md-12">
                          <div class="form-group">
                            <label>Client Name</label>
                            <h6 class="form-control">{{task.ta_taskId.client_Id.client_name}}</h6>
                            
                          </div>
                        </div>
                        
                    </div>
                    <div class="row mb-3">
                        <div class="col-sm-12 col-lg-6 col-md-6">
                          <div class="form-group">
                            <label>Allocated By</label>
                            <h6 class="form-control">{{task.ta_workAssignId.wa_work_allocate.emp_name}}</h6>
                            
                          </div>
                        </div>
                        <div class="col-sm-12 col-lg-6 col-md-6">
                            <div class="form-group">
                              <label>Allocated Date</label>
                              <h6 class="form-control">{{task.ta_allocate_date}}</h6>
                              
                            </div>
                          </div>
                        
                    </div>
                    <div class="row mb-3">
                      <div class="col-sm-12 col-lg-12 col-md-12">
                        <div class="form-group">
                          <label>Task Name</label>
                          <h6 class="form-control">{{task.ta_taskId.task_name }}</h6>
                          
                        </div>
                      </div>
                      <div class="col-sm-12 col-lg-12 col-md-12">
                        <div class="form-group">
                          <label>Task Description</label>
                          <div>
                            <p>{{task.ta_discription}}</p>
                          </div>
                          
                        </div>
                      </div>
                      
                    </div>
                    <div class="row mb-3">
                        <div class="col-sm-12 col-lg-6 col-md-6">
                          <div class="form-group">
                            <label>Start Date</label>
                            <h6 class="form-control">{{task.ta_start_date}}</h6>
                            
                          </div>
                        </div>
                        <div class="col-sm-12 col-lg-6 col-md-6">
                            <div class="form-group">
                              <label>End Date</label>
                              <h6 class="form-control">{{task.ta_due_date}}</h6>
                              
                            </div>
                          </div>
                        
                    </div>
                    <div class="row mb-3">
                        
                        <div class="col-sm-12 col-lg-12 col-md-12">
                            <div class="form-group">
                              <label>Target</label>
                              <h6 class="form-control">{{task.ta_target}}</h6>
                              
                            </div>
                          </div>
                        
                    </div>
                    <div class="row mb-3">
                      {% if task.ta_file %}
                        <label  class="col-sm-2 col-form-label">File</label>
                        <div class="col-sm-10 mt-1">
                          <a href="{{ task.ta_file.url }}" download>Download File</a>
                        </div>                               
                      {% endif %}
                        
                    </div>
                    
                      
                  </div>
                </div>
              </div>
                
            </div>
        
            
        
          </form>

        </div>

      </div>
    
    </div>
  </div>
</div> 
{% endfor %}
<!-- Modal Ends --> 

<!-- search task name in table -->
<script>
  
  const inputField = document.getElementById('search-data');
  const closeBtn = document.getElementById('closeBtn');
  const taskTable = document.getElementById('task-details');
  closeBtn.style.display = 'none';

  inputField.addEventListener('input', function() {
      filterTable();
  });


    // To display the close button and hide the close button based on the search input 
  inputField.addEventListener('input', function() {
  if (inputField.value == '') {
      closeBtn.style.display = 'none';
      
  } else {
      closeBtn.style.display = 'block';
      
  }
  });

  closeBtn.addEventListener('click', function() {
  inputField.value = '';
  closeBtn.style.display = 'none';
  filterTable(); // Display the full table data
  });

  function filterTable() {
    const searchText = inputField.value.toLowerCase();
    const rows = taskTable.getElementsByTagName('tbody');

    for (let row of rows) {
      const taskName = row.getElementsByTagName('td')[1].textContent.toLowerCase();
      if (taskName.includes(searchText)) {
        row.style.display = '';
      } else {
        row.style.display = 'none';
      }
    }
  }
</script>

<style>
  a{
    text-decoration: none;
  }
  a:hover{
    text-decoration: none;
  }
</style>



{% endblock %}




